@page "/Contact"
<PageTitle>Contact</PageTitle>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="page-title">
    <h1>Contact information</h1>
</div>

<div class="contact-picture-background">
    <div class="contact-frame">
        <div class="description">
            <p>
                To get in touch, please write/call<br/>
                with any convenient way shown below:<br/>
                <strong>+7(981) - 778 - 65 - 93</strong><br/>
                <strong>steamovsky525@mail.ru</strong>
            </p>
        </div>
        <div class="contact-links">
            <ul class="social-icons-6">
                <li><a href="https://t.me/Killa2003"><i class="fa fa-telegram"></i></a></li>
                <li><a href="https://vk.ru/antikill2003"><i class="fa fa-vk"></i></a></li>
            </ul>
        </div>
    </div>
</div>


@code {

}