@page "/"
<PageTitle>Information</PageTitle>

<div class="page-title">
    <h1>Information</h1>
</div>
<div class="page-wrapper">
    <div>
        <div class="page-first-paragraph">
            <p>
                Hello, my name is <b>Daniil Karpushko</b>.
                I am 20 y.o, from St.Petersburg, Russia.
                I am a C++/C# developer from ITMO University
                and looking straight for job to do.
            </p>
            <h3>Skills</h3>
            <p style="text-align: center; background: #6c757d; border-radius: 10px 100px / 120px;">
                C++ Qt Linux SFML<br/>
                ООП STL SQL Git<br/>
                C# LINQ CMake MVC<br/>
                MVVM Clean Architecture<br/>
                .NET Core ASP. NET<br/>
                PostgreSQL MS SQL Server<br/>
                ASP.NET MVC ASP.NET Core<br/>
                Docker SOLID GRASP<br/>
                Entity Framework English level C1+<br/>
                HTML CSS
            </p>
        </div>
    </div>

    <div class="page-background-square">
        <div class="page-image">
            <img src="1.jpg" width="720" height="540" alt="Me"/>
        </div>
    </div>
</div>

<div class="page-title">
    <h2>About</h2>
</div>

<div class="page-background-square">
    <div class="page-second-paragraph">
        <p>
            Speaking about coding, I am writing/studying C++ more than 2 years and .NET more than 1 year.
            Of course I have 1 year and 3 months work experience on C++. I  worked in Almaz-Antei GOZ as
            developer of observe flight system. Also have some pet-projects on my github. I am a 3rd year
            student of ITMO University Faculty of Information Technology and Programming.
        </p>
        <p>
            As person, I like to learn something new, test my skills and improve them.
            I am disciplined, calm, persistent, hardworking.
        </p>
    </div>
</div>

<div class="page-title">
    <h2>Github & pet-projects</h2>
</div>
<div style="background: linear-gradient(0.25turn, #67a899, #fff, #bdbfbf); padding-bottom: 20px; padding-top: 5px">
    <div style="text-align: center; color: black; margin-top: 10px">
        <a href="https://github.com/DaniilKarpushko/PhysicModels">C++ Physic models</a>
        <a href="https://github.com/DaniilKarpushko/ExchangeRateApp">C++ Exchange Rate App</a>
        <a href="https://github.com/DaniilKarpushko/EarthMagnitudePhysics">C# Earth Magnitude</a>
        <a href="https://github.com/DaniilKarpushko/TgBot-Algorithm">C# Tg Bot</a>
    </div>
    <div style="text-align: center; color: black; margin-top: 15px">
        <a href="https://github.com/DaniilKarpushko">Visit GitHub</a>
    </div>
</div>

@code {
    
}